<div>
    <fieldset>
        <legend> AIの予測結果</legend>
        <table>
            <tr>
                <td>上床版</td>
                <td>{{tb1}}</td>
            </tr>
            <tr>
                <td>側壁</td>
                <td>{{tw1}}</td>
            </tr>
            <tr>
                <td>下床版</td>
                <td>{{tb1}}</td>
            </tr>
            <tr>
                <td>ハンチ1</td>
                <td>{{a1}}×{{b1}}</td>
            </tr>
            <tr>
                <td>ハンチ2</td>
                <td>{{c1}}×{{d1}}</td>
            </tr>
        </table>
    </fieldset>
</div>

<button (click)="doForecast()">予測</button>

<div class="right-contents">
    <div>
        <h4>形状条件</h4>
        <div>
            <label for="name">内空幅</label>
            <input id="b0" name="b0" type="number" [(ngModel)]="b0" />
        </div>
        <div>
            <label for="name">内空高</label>
            <input id="h0" name="h0" type="number" [(ngModel)]="h0" />
        </div>
        <div>
            <label for="name">設計土被り</label>
            <input id="Df" name="Df" type="number" [(ngModel)]="Df" />
        </div>
    </div>
    <div>
        <h4>材料条件</h4>
        <div>
            <label for="name">コンクリート強度</label>
            <input id="fck" name="fck" type="number" [(ngModel)]="fck" />
        </div>
        <div>
            <label for="name">環境条件</label>
            <input id="condition" name="condition" type="text" [(ngModel)]="condition" />
        </div>
    </div>
    <div>
        <h4>荷重条件</h4>
        <div>
            <label for="name">地層①の重量</label>
            <input id="coverSoilWeight" name="coverSoilWeight" type="number" [(ngModel)]="coverSoilWeight" />
        </div>
        <div>
            <label for="name">上載荷重</label>
            <input id="surfaceLoad" name="surfaceLoad" type="number" [(ngModel)]="surfaceLoad" />
        </div>
        <div>
            <label for="name">温度</label>
            <input id="temperature" name="temperature" type="number" [(ngModel)]="temperature" />
        </div>
    </div>
    <div>
        <h4>地層条件</h4>
        <div>
            <label for="name">1層目 湿潤重量</label>
            <input id="r1" name="r1" type="number" [(ngModel)]="r1" />
        </div>
        <div>
            <label for="name">高水位</label>
            <input id="highWaterDepth" name="highWaterDepth" type="number" [(ngModel)]="highWaterDepth" />
        </div>
        <div>
            <label for="name">低水位</label>
            <input id="lowWaterDepth" name="lowWaterDepth" type="number" [(ngModel)]="lowWaterDepth" />
        </div>
    </div>

    <div>
        <h4>2層目条件（上半分）</h4>
        <div>
            <label for="name">土質区分</label>
            <input id="type2" name="type2" type="text" [(ngModel)]="type2" />
        </div>
        <div>
            <label for="name">湿潤重量</label>
            <input id="r2" name="r2" type="number" [(ngModel)]="r2" />
        </div>
        <div>
            <label for="name">弾性係数</label>
            <input id="E02" name="E02" type="number" [(ngModel)]="E02" />
        </div>
        <div>
            <label for="name">土圧係数</label>
            <input id="Ko2" name="Ko2" type="number" [(ngModel)]="Ko2" />
        </div>
    </div>
    <div>
        <h4>3層目条件（下半分）</h4>
        <div>
            <label for="name">土質区分</label>
            <input id="type3" name="type3" type="text" [(ngModel)]="type3" />
        </div>
        <div>
            <label for="name">湿潤重量</label>
            <input id="r3" name="r3" type="number" [(ngModel)]="r3" />
        </div>
        <div>
            <label for="name">弾性係数</label>
            <input id="E03" name="E03" type="number" [(ngModel)]="E03" />
        </div>
        <div>
            <label for="name">土圧係数</label>
            <input id="Ko3" name="Ko3" type="number" [(ngModel)]="Ko3" />
        </div>
    </div>
</div>